<div>
    <h1>Reports</h1>

    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}

    <h2>Post:</h2>
    {{#if postReports.length}}
    <ul>
        {{#each postReports}}
        <li>
            <p><strong>Report Id:</strong> {{this._id}}</p>
            <p><strong>Content Id:</strong> {{this.contentId}}</p>
            <p><strong>Reported By:</strong> {{this.username}} ({{this.userId}})</p>
            <p><strong>Created:</strong> {{this.dateTimeCreated}}</p>
            <p><strong>Reason:</strong> {{this.reportReason}}</p>
            <p><strong>Description:</strong></p>
            <pre>{{this.body}}</pre>
            <form action="/report/{{this._idStr}}/accept" method="post">
                <button type="submit">Accept and delete post</button>
            </form>
            <form action="/report/{{this._idStr}}/reject" method="post">
                <button type="submit">Reject</button>
            </form>
            <hr>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Nothing there</p>
    {{/if}}

    <h2>Comments:</h2>
    {{#if commentReports.length}}
    <ul>
        {{#each commentReports}}
        <li>
            <p><strong>Report Id:</strong> {{this._id}}</p>
            <p><strong>Content Id:</strong> {{this.contentId}}</p>
            <p><strong>Reported By:</strong> {{this.username}} ({{this.userId}})</p>
            <p><strong>Created:</strong> {{this.dateTimeCreated}}</p>
            <p><strong>Reason:</strong> {{this.reportReason}}</p>
            <p><strong>Description:</strong></p>
            <pre>{{this.body}}</pre>
            <form action="/report/{{this._idStr}}/accept" method="post">
                <button type="submit">Accept and delete comment</button>
            </form>
            <form action="/report/{{this._idStr}}/reject" method="post">
                <button type="submit">Reject</button>
            </form>
            <hr>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Nothing there</p>
    {{/if}}
</div>

