<link rel="stylesheet" type="text/css" href="/public/css/location.css">

<section class="locations-page">
    <h1>Requests</h1>

    {{#if isAdmin}}
    {{!-- admin access --}}
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}

    <section class="locations-admin-section">
    <h2>Location Requests</h2>
    {{#if locationRequests.length}}
    <ul>
        {{#each locationRequests}}
        <li>
            <p><strong>Report Id:</strong> {{this._id}}</p>
            <p><strong>Location Type:</strong> {{this.locationType}}</p>
            <p><strong>Location Name:</strong> {{this.locationName}}</p>
            <p><strong>Requested By:</strong> {{this.username}} ({{this.userId}})</p>
            <p><strong>Created:</strong> {{this.dateTimeCreated}}</p>
            <pre>{{this.body}}</pre>

            <form action="/request/{{this._id}}/accept" method="post">
                <button type="submit">Accept</button>
            </form>

            <form action="/request/{{this._id}}/reject" method="post">
                <button type="submit">Reject</button>
            </form>

            <hr>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Nothing there</p>
    {{/if}}
    </section>

    {{else}}
    {{!-- user access --}}
    <section class="locations-admin-section">
    <h2>Create Location Request</h2>

    <form action="/request/post" method="post" id="requestForm">
        <p>
            <label for="requestCategory">Location type</label><br>
            <select name="categoryFilter" id="requestCategory">
                <option value="unselected">Please choose an option</option>
                <option value="tennis">Tennis</option>
                <option value="basketball">Basketball</option>
                <option value="handball">Handball</option>
                <option value="hiking">Hiking</option>
            </select>
        </p>

        <p>
            <label for="locationName">Location name</label><br>
            <input required type="text" name="locationName" id="locationName">
        </p>

        <p>
            <label for="descriptionText">Description</label><br>
            <input type="text" name="description" id="descriptionText">
        </p>

        <p>
            <label for="body">Reason for request</label><br>
            <input required type="text" name="body" id="body">
        </p>

        <p>
            <label for="addressText">Address</label><br>
            <input type="text" name="address" id="addressText">
        </p>

        <p>
            <label for="latitude">Latitude</label><br>
            <input required type="number" id="latitude" name="latitude" step="any" inputmode="decimal" placeholder="0.00">
        </p>

        <p>
            <label for="longitude">Longitude</label><br>
            <input required type="number" id="longitude" name="longitude" step="any" inputmode="decimal" placeholder="0.00">
        </p>

        {{!-- Hide for handball option --}}
        <div class="basketball tennis hiking">
            <p>
                <label for="accessible">Accessible</label><br>
                <input type="checkbox" id="accessible" name="accessible">
            </p>
        </div>

        {{!-- Hide for hiking option --}}
        <div class="basketball tennis handball">
            <p>
                <label for="numCourts">Number of courts</label><br>
                <input type="number" id="numCourts" name="numCourts">
            </p>
        </div>

        {{!-- Hide for basketball hiking handball --}}
        <div class="tennis">
            <p>
                <label for="indoor">Indoor</label>
                <input type="radio" name="indoorOutdoor" id="indoor" value="indoor">
            </p>
            <p>
                <label for="outdoor">Outdoor</label>
                <input type="radio" name="indoorOutdoor" id="outdoor" value="outdoor">
            </p>
            <p>
                <label for="tennisType">Tennis type</label><br>
                <input type="text" id="tennisType" name="tennisType">
            </p>
        </div>

        {{!-- Hide for basketball tennis handball --}}
        <div class="hiking">
            <p>
                <label for="length">Length</label><br>
                <input type="text" id="length" name="length">
            </p>
            <p>
                <label for="difficulty">Difficulty</label><br>
                <input type="text" id="difficulty" name="difficulty">
            </p>
            <p>
                <label for="otherDetails">Other details</label><br>
                <input type="text" id="otherDetails" name="otherDetails">
            </p>
            <p>
                <label for="limitedAccess">Does trail have limited access</label><br>
                <input type="text" id="limitedAccess" name="limitedAccess">
            </p>
        </div>

        <p>
            {{!-- hidden by default on choose option --}}
            <button hidden id="submitRequest" type="submit">Submit Request</button>
        </p>
    </form>
    </section>
    {{/if}}

    <script src="/public/js/requestHandler.js"></script>
</section>